$pink: var(--pink);
$black: var(--black);
$white: var(--white);
$blue: var(--blue);

.hh-options-wrapper {
  position: relative;
  width: 100%;

  .hh-options-tab {
    .nav-pills {
      margin-bottom: 20px;

      .nav-link {
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        font-size: 11px;
        text-transform: uppercase;
        color: #7a7a7a;
        letter-spacing: 1px;
        border: 1px solid #DDD;
        font-weight: 500;

        .tab-icon {
          margin-right: 10px;
        }

        &.active {
          border-color: #00acc1;
          background: #00acc1;
          color: #FFF
        }

        &:focus {
          outline: none;
        }
      }

      &.disabled-link {
        .nav-link {
          position: absolute;
          visibility: hidden;
          z-index: -1;

          &.active {
            position: inherit;
            visibility: visible;
            z-index: inherit;
          }
        }
      }
    }
  }

  .hh-options-tab-content {

    > .tab-content {
      padding-top: 0;
    }

    .nav-pills > li > a, .nav-tabs > li > a {
      font-weight: 500;
    }

    .form-group {
      .invalid-feedback {
        display: none !important;
      }

      .sub-label {
        font-size: 13px;
      }
    }

    .field-desc {
      color: #AAA;
      margin-left: 8px;
      float: right;
      margin-top: 2px;

      &:hover {
        color: #43B6C9;
        cursor: pointer;
      }
    }

    .form-control,
    .nice-select {
      .list {
        max-height: 350px;
        overflow-y: auto;
      }
    }

    .input-none {
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 0;
    }

    textarea.form-control {
      line-height: 1.6;
    }

    .nice-select {

      img {
        max-width: 35px;
        border-radius: 2px;
        margin-right: 5px;
        display: inline-block;
      }

      &:after {
        margin-top: -4px;
      }
    }

    .select2-container .select2-selection--single {
      height: 50px;
      border: 1px solid #ced4da;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      color: #6c757d;
      padding-left: 0;
      padding-right: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      top: 50%;
      right: 6px;
      transform: translateY(-50%);

      b {
        margin-top: 0;
      }
    }

    .select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #888 transparent !important;
      border-width: 0 4px 5px 4px !important;
    }

    textarea.form-control {
      height: auto;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    .field-location {
      .mapbox-content {
        width: 100%;
        height: 380px;
        margin-bottom: 20px;
      }

      .hh-marker {
        width: 40px;
        height: 55px;
        margin-top: -30px;
        background: url("../images/map/marker.png") no-repeat center center;
        background-size: 35px;
      }

      .mapboxgl-marker:not(.hh-marker) {
        display: none !important;
      }
    }

    [data-plugin="mapbox-geocoder"] {
      position: relative;
      border: none;

      .mapboxgl-ctrl-geocoder {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 2;
        box-shadow: none;

        .mapboxgl-ctrl-geocoder--icon-loading {
          top: 25px;
          margin-top: -13px;
        }

        .mapboxgl-ctrl-geocoder--icon {
          display: none;
        }

        .mapboxgl-ctrl-geocoder--input {
          border: 1px solid #ced4da;
          position: absolute;
          top: 0;
          left: 0;
          padding: .9rem .9rem;
          width: 100%;
          box-shadow: none;
          font-size: 14px;
          border-radius: .2rem;
          font-family: Poppins, sans-serif;
          height: auto;
          line-height: 1.5;
          text-indent: 5px;
          color: #6c757d;
        }

        .suggestions-wrapper {
          .suggestions {
            top: 0 !important;
            margin-top: 50px;
            border: solid 1px #cccccc;
            box-shadow: none;
          }
        }
      }
    }

    [data-plugin="acejs"] {
      min-height: 550px;
    }

    .field-select2 {
      span.select2 {
        width: 100% !important;
      }
    }

    .field-ical {
      .form-control {
        padding-top: .6rem;
        padding-bottom: .6rem;
      }

      button {
        min-width: 115px;
      }
    }

    .field-select2_multiple {
      span.select2 {
        width: 100% !important;
      }

      .select2-container {
        width: 100% !important;

        .select2-selection--multiple {
          .select2-selection__choice {
            background-color: #6658dd;
            border: none;
            color: $white;
            border-radius: 3px;
            padding: 5px 8px;
            margin-top: 7px;
            font-size: 0.75rem;
          }

          .select2-selection__choice__remove {
            color: $white;
            margin-right: 5px;
          }
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
          background-color: #6658dd;
        }

        .select2-results__option {
          padding: 6px 12px;
        }
      }

      .select2-container--default .select2-results__option[aria-selected="true"] {
        background-color: #cae4f0 !important;
        color: #323a46;
      }

      .select2-container .select2-search--inline {
        margin-top: 5px;
      }
    }

    .field-media_advanced {
      .hh-dashboard-upload-area {
        padding: 60px 30px;
        border: 2px dashed #CCC;
        text-align: center;

        h2 {
          font-size: 26px;
          font-weight: normal;
          color: #6c757d;
        }

        .btn {
          margin-top: 20px;
          text-transform: uppercase;
          border-radius: 0;
          color: $white;
          padding: 10px 110px;
          background: #6658dd;
          font-size: 14px;
        }

        .desc {
          margin-top: 20px;
          color: #7a7a7a;
        }
      }

      .hh-dashboard-upload-render {
        margin-top: 20px;

        .gallery-item {
          margin-bottom: 30px;
          width: 100%;
          position: relative;

          .gallery-image {
            position: relative;
            overflow: hidden;

            &:after {
              content: "";
              display: block;
              padding-top: 100%;
            }

            img {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-width: none;
              max-height: 100%;
            }
          }

          .gallery-action {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 1;

            a {
              color: #5f5f5f;
              display: inline-block;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              background: $white;
              text-align: center;
              line-height: 30px;
              font-size: 13px;

              &:hover {
                color: #ff4861;
              }
            }

            .hh-gallery-add-featured {
              margin-right: 5px;
              font-size: 14px;

              &.is-featured {
                color: #ff4861;
              }
            }

          }
        }
      }
    }

    .field-upload,
    .field-uploads {
      .hh-upload-wrapper {
        .attachments {
          .attachment-item {
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
            width: 120px;
            position: relative;

            .thumbnail {
              position: relative;
              overflow: hidden;

              &:after {
                content: "";
                display: block;
                padding-top: 100%;
              }

              img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: none;
                max-height: 100%;
              }
            }
          }
        }

        .remove-attachment {
          display: inline-block;
          margin-right: 15px;
          color: #bc2b3e;
          font-size: .85rem;
        }

        .add-attachment,
        .add-attachments {
          display: inline-block;
          color: $blue;;
          font-size: .85rem;
        }
      }
    }

    .field-permalink {
      .input-group {
        .input-group-text,
        .form-control {
          height: auto;
          padding: .5rem .7rem;
          font-size: 0.7rem;
          line-height: 1.5;
        }

        .form-control {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    .field-radio {
      .radio {
        margin-left: 5px;
        margin-bottom: 5px;
      }
    }

    .field-checkbox, .field-checkbox_pro {
      .checkbox {
        margin-top: 10px;
        margin-left: 5px;

        label {
          padding-left: 20px;
          font-size: 13px;
          cursor: pointer;

          &:after, &:before {
            margin-left: -5px;
          }
        }

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"]:checked + label::after {
          top: 4px;
        }

        input[type="checkbox"]:checked + label::before {
          top: 0;
        }

        input[type="checkbox"] + label::before {
          top: 0;
        }
      }
    }

    .field-range {
      input[type="number"] {
        width: 50px;
        float: right;
        margin-top: -28px;
      }
    }

    .field-editor {
      .cke .cke_contents {
        min-height: 350px;
      }
      .cke{
        border: none;
        .cke_inner{
          border: 1px solid #ced4da;
          border-radius: .2rem;
        }
        .btn-add-image-editor{
          background: #fff;
          color: #222;
          border: 1px solid #bbb;
          font-size: 12px;
          margin-bottom: 5px;
          border-radius: 3px;
          .hh-icon{
            margin-right: 5px;
          }
          &:focus, &:active{
            box-shadow: none;
          }
        }
      }
      &.has-editor-translation{
        .cke{
          .cke_inner{
            border-left: 3px solid #1abc9c;
          }
        }
      }
    }

    .field-select2_multiple {

    }

    .field-calendar {
      position: relative;

      > label {
        float: left;
        width: 100%;
      }

      .hh-calendar-tips {
        position: absolute;
        top: 0;
        right: 0;

        .item {
          display: inline-block;
          margin-left: 30px;

          span {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin-right: 10px;

            &.not-available-color {
              background: #CCC;
            }

            &.available-color {
              background: #7ecaa5;
            }
          }
        }
      }

      .daterangepicker {
        border-radius: 0;
        border: none;
        box-shadow: none !important;
        position: relative;
        top: 2rem !important;
        left: 50% !important;
        transform: translateX(-50%) !important;
        z-index: 1 !important;

        &:before {
          border: none;
        }

        .calendar.left {
          max-width: 100%;

          .table-header {
            position: relative;
            margin-bottom: 20px;

            .month {
              font-size: 20px;
              text-align: center;
              line-height: 48px;
              font-weight: 500;
            }

            .next {
              position: absolute;
              bottom: 0;
              right: 0;
              float: right;
              width: 48px;
              height: 48px;
              background: url("../images/arrow_right.png") no-repeat right center;
              cursor: pointer;
              z-index: 9;
            }

            .prev {
              position: absolute;
              bottom: 0;
              left: 0;
              float: left;
              width: 48px;
              height: 48px;
              background: url("../images/arow_left.png") no-repeat left center;
              cursor: pointer;
              z-index: 9;
            }
          }

          .table-sub-header {
            border-top: 1px solid #eeeeee;

            &:after {
              content: '';
              display: table;
              clear: both;
            }

            .day-of-week {
              width: 92px;
              height: 92px;
              line-height: 92px;
              float: left;
              text-align: center;
              color: #7a7a7a;
              font-size: 18px;
            }
          }

          .table-condensed {
            * {
              box-sizing: border-box;
            }
          }

          .td-date {
            width: 92px;
            height: 92px;
            padding: 3px;
            color: #CCC;
            font-size: 15px;
            background: transparent !important;

            .event {
              display: none;
            }

            .date {
              line-height: 85px;
              background: #f9f9f9;
            }

            &.disabled {
              text-decoration: none;
            }

            &.today:not(.td-no-show) {
              position: relative;

              &:after {
                content: '';
                bottom: -4px;
                right: -4px;
                width: 0;
                height: 0;
                border: 7px solid transparent;
                border-bottom: 7px solid #f57d8f;
                position: absolute;
                transform: rotate(135deg);
              }
            }

            &.available {
              color: $white;

              .date {
                background: #7ecaa5;
              }
            }

            &.toggle_available.available {
              .date {
                background: #f9f9f9;
                color: #CCC;
              }

              &:hover {
                .date {
                  background: #edf6f6;
                }
              }
            }
          }
        }
      }
    }

    .field-editor {
      .wp-editor-tabs {
        float: left;

        button {
          border-top-left-radius: .2rem;
          border-top-right-radius: .2rem;
          border-color: #ced4da;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .wp-editor-container {
        border-radius: .2rem;
        border-color: #ced4da;
      }

      div.mce-toolbar-grp {
        border: none;
      }
    }

    .field-availability {
      .hh-availability {
        position: relative;
        display: flex;
        justify-content: center;

        .daterangepicker {
          border-radius: 0;
          border: none;
          box-shadow: none !important;
          position: static !important;
          z-index: 1;

          &:before {
            border: none;
          }

          .calendar.left {
            max-width: 100%;

            .table-header {
              position: relative;
              margin-bottom: 20px;

              .month {
                font-size: 1.5rem;
                text-align: center;
                line-height: 48px;
                font-weight: 500;
              }

              .next {
                position: absolute;
                bottom: 0;
                right: 0;
                float: right;
                width: 48px;
                height: 48px;
                background: url("../images/arrow_right.png") no-repeat right center;
                cursor: pointer;
                z-index: 9;
              }

              .prev {
                position: absolute;
                bottom: 0;
                left: 0;
                float: left;
                width: 48px;
                height: 48px;
                background: url("../images/arow_left.png") no-repeat left center;
                cursor: pointer;
                z-index: 9;
              }
            }

            .table-sub-header {
              border-top: 1px solid #eeeeee;

              &:after {
                content: '';
                display: table;
                clear: both;
              }

              .day-of-week {
                width: 92px;
                height: 92px;
                line-height: 92px;
                float: left;
                text-align: center;
                color: #7a7a7a;
                font-size: 1rem;
              }
            }

            .table-condensed {
              * {
                box-sizing: border-box;
              }
            }

            .td-date {
              width: 92px;
              height: 92px;
              padding: 3px;
              color: #CCC;
              font-size: 0.875rem;
              background: transparent !important;
              position: relative;

              .event {
                display: none;
              }

              .date {
                position: absolute;
                top: 8px;
                left: 8px;
                line-height: 1;
                z-index: 0;
              }

              &.disabled {
                text-decoration: none;
              }

              &.today:not(.td-no-show) {
                position: relative;

                &:after {
                  content: '';
                  position: absolute;
                  width: 8px;
                  height: 8px;
                  top: 15px;
                  right: 15px;
                  border-radius: 50%;
                  background: #fd566f;
                }
              }

              &.available {
                color: #008489;

                .date {
                  background: #edf6f6;
                }
              }

              &.toggle_available.available {
                .date {
                  background: #f9f9f9;
                }

                &:hover {
                  .date {
                    background: #edf6f6;
                  }
                }
              }

              .event {
                display: block;
                height: 100%;
                background: #EEE;

                .booking-item {
                  position: relative;
                  height: 100%;

                  .author {

                    position: relative;

                    &:after {
                      content: '';
                      position: absolute;
                      top: 50%;
                      left: 10px;
                      width: 50px;
                      height: 20px;
                      margin-top: -10px;
                      display: block;
                      z-index: -1;
                    }
                  }
                }

                &.incomplete {
                  .booking-item {
                    &:after {
                      background: #f7b84b;
                    }

                    .author {
                      &:after {
                        background: #f7b84b;
                      }
                    }
                  }

                  &.completed {
                    .author {
                      &:after {
                        background: $blue;;
                      }
                    }
                  }
                }

                &.completed {
                  .booking-item {
                    &:after {
                      background: $blue;;
                    }

                    .author {
                      &:after {
                        background: $blue;;
                      }
                    }
                  }

                  &.incomplete {
                    .author {
                      &:after {
                        background: #f7b84b;
                      }
                    }
                  }
                }

                &.pending {
                  .booking-item {
                    &:after {
                      background: #516a77;
                    }

                    .author {
                      &:after {
                        background: #516a77;
                      }
                    }
                  }

                  &.incomplete {
                    .author {
                      &:after {
                        background: #f7b84b;
                      }
                    }
                  }
                }
              }

              &.start-group {
                position: relative;

                .event {
                  z-index: 1;

                  .booking-item {

                    .author {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translateY(-50%);

                      img {
                        max-width: 35px;
                        border-radius: 50%;
                      }
                    }
                  }
                }
              }

              &.in-group {
                .event {
                  .booking-item {
                    position: relative;
                    height: 100%;

                    &:after {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 50%;
                      left: 0;
                      width: calc(100% + 10px);
                      height: 20px;
                      margin-top: -10px;
                    }

                    .author {
                      &:after {
                        right: 0;
                        left: auto;
                      }

                      img {
                        display: none;
                      }
                    }
                  }
                }

                &.sunday {
                  .event {
                    .booking-item {
                      &:after {
                        width: 100%;
                      }
                    }
                  }
                }
              }

              &.end-group:not(.start-group) {
                .event {
                  .booking-item {
                    position: relative;
                    height: 100%;

                    &:after {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 50%;
                      left: 0;
                      width: 50%;
                      height: 20px;
                      margin-top: -10px;
                      border-radius: 0 10px 10px 0;
                    }

                    .author {
                      img {
                        display: none;
                      }
                    }
                  }
                }
              }

              &.end-group.start-group {
                .event {
                  .booking-item {
                    .author {
                      top: 50%;
                      transform: translateY(-50%);

                      &:after {
                        right: -20px;
                        left: auto;
                      }
                    }

                    &:after {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 50%;
                      left: 0;
                      width: 50%;
                      height: 20px;
                      margin-top: -10px;
                      border-radius: 0 10px 10px 0;
                    }
                  }
                }
              }

              .event {
                .booking-item {
                  &.booking-item-time {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .item {
                      background: #00acc1;
                      font-size: 0.6rem;
                      padding: 2px 3px;
                      border-radius: 2px;
                      color: $white;
                    }

                    cursor: pointer;

                    &:after {
                      position: static !important;
                      display: none !important;
                    }
                  }
                }
              }
            }
          }

          @media(max-width: 767px) {
            width: auto !important;
            .calendar.left {
              .table-sub-header {
                .day-off-week {
                  width: 65px;
                  height: 65px;
                  line-height: 65px;
                }
              }

              .td-date {
                width: 65px;
                height: 65px;

                .date {
                  line-height: 65px;
                }

                &.today:not(.td-no-show)::after {
                  top: 5px;
                  right: 5px;
                  width: 4px;
                  height: 4px;
                }
              }
            }
          }
          @media(max-width: 600px) {
            width: auto !important;
            .calendar.left {
              .table-sub-header {
                .day-off-week {
                  width: 45px;
                  height: 45px;
                  line-height: 45px;
                }
              }

              .td-date {
                width: 45px;
                height: 45px;

                .date {
                  line-height: 45px;
                }
              }
            }
          }
          @media(max-width: 450px) {
            width: auto !important;
            .calendar.left {
              .table-sub-header {
                .day-off-week {
                  width: 34px;
                  height: 34px;
                  line-height: 34px;
                  font-size: 1.4rem;
                }
              }

              .td-date {
                width: 34px;
                height: 34px;
                font-size: 1.4rem;

                .date {
                  line-height: 34px;
                }
              }
            }
          }
        }
      }
    }

    .field-icon {
      .render {
        border: none !important;
        padding: 0 !important;
      }
    }

    .field-images {
      .hh-upload-wrapper {
        .attachments {
          display: inline-block;
          float: left;

          .attachments-item {
            position: relative;
            display: inline-block;
            width: 80px;
            height: 80px;
            margin-right: 5px;

            img {
              width: 100%;
              height: auto;
              display: block;
            }

            .hh-attachments-delete {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: #f1556c;
              z-index: 9;
              cursor: pointer;
              display: none;
              font-size: 20px;
            }

            &:hover {
              &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: block;
                background: rgba(255, 255, 255, 0.7);
                z-index: 1;
              }

              .hh-attachments-delete {
                display: block;
              }
            }
          }
        }

        .add-attachments {
          float: left;
          display: inline-block;
          width: 80px;
          height: 80px;
          border: 1px dashed #CCC;
          text-align: center;
          line-height: 80px;
          color: $blue;;
          font-size: 20px;
        }
      }
    }

    .field-colorpicker {
      .color {
        width: 50px;
      }
    }

    .sub-label {
      input {
        margin-right: 10px;
      }
    }

    .field-google_font {
      .hh-font-variants,
      .hh-font-subsets {
        padding-left: 35px;
        margin-top: 15px;

        .checkbox {
          margin-top: 3px;
          width: 50%;
          float: left;
        }
      }
    }

    .field-range {
      input[type="number"] {
        padding-right: 0;
      }
    }

    .field-list_item {
      .hh-list-items {
        list-style: none;
        padding-left: 0;

        li {
          margin-bottom: 5px;

          .hh-list-item-heading {
            display: flex;
            align-items: center;
            padding: 0 20px;
            height: 45px;
            background: #EEE;
            line-height: 45px;

            .close {
              font-size: 15px;
              float: right;
              display: inline-block;
              color: #da5050;
            }

            .edit {
              float: right;
              margin-right: 15px;
              display: inline-block;
              margin-left: auto;
            }
          }

          .render {
            padding: 5px;
            border: 1px solid #EEE;
            display: none;
            flex-wrap: wrap;

            &.toggleFlex {
              display: flex;
            }

            label {
              font-size: 13px;
            }

            .form-control,
            .nice-select {
              padding: .6rem .7rem;
              font-size: 13px;

              .list {
                max-height: 320px;
              }
            }

            .field-range {
              input[type="number"] {
                margin-top: -22px;
              }
            }

            .nice-select {
              &:after {
                margin-top: -2px;
              }
            }

            .select2-container .select2-selection--single {
              height: 40px;
            }

            .select2-container .select2-selection--single .select2-selection__rendered {
              line-height: 40px;
            }
          }

          &.ui-sortable-helper {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.select2-container.select2-container--open{
  z-index: 10000;;
}

#hh-media-frame-modal {
  .hh-media-upload-area {
    background: $white;

    .hh-dropzone {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
